.appointment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
