<ng-template #content>
    <ng-content></ng-content>
  </ng-template>

  <a
    *ngIf="isNativeLink"
    [target]="target"
    [routerLink]="link"
    [ngClass]="{
      'base-button': true,
      'base-button--filled-shadow-blue': kind === 'filled-shadow-blue',
      'base-button--filled-shadow-white-blue': kind === 'filled-shadow-white-blue',
      'base-button--text-blue': kind === 'text-blue',
      'base-button--icon': display === 'icon',
      'base-button--tiny-font': font === 'tiny',
      'base-button--small-font': font === 'small',
      'base-button--normal-font': font === 'normal',
      'base-button--large-font': font === 'large',
      'base-button--small-padding': padding === 'small',
      'base-button--normal-padding': padding === 'normal',
      'base-button--tiny-padding': padding === 'tiny',
      'base-button--none-padding': padding === 'none',
      'base-button--readonly': isReadonly
    }">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </a>

  <button
    (click)="onClick($event)"
    *ngIf="!isNativeLink"
    [disabled]="isDisabled"
    [type]="type"
    [ngClass]="{
      'base-button': true,
      'base-button--filled-shadow-blue': kind === 'filled-shadow-blue',
      'base-button--filled-shadow-white-blue': kind === 'filled-shadow-white-blue',
      'base-button--text-blue': kind === 'text-blue',
      'base-button--icon': display === 'icon',
      'base-button--tiny-font': font === 'tiny',
      'base-button--small-font': font === 'small',
      'base-button--normal-font': font === 'normal',
      'base-button--large-font': font === 'large',
      'base-button--small-padding': padding === 'small',
      'base-button--normal-padding': padding === 'normal',
      'base-button--tiny-padding': padding === 'tiny',
      'base-button--none-padding': padding === 'none',
      'base-button--readonly': isReadonly
    }">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </button>
