//tutaj będą wszystkie kolory
$light-blue-A0: rgb(4, 105, 255);
$blue-A0: rgb(0, 0, 255);
$dark-blue-A0: rgba(0, 0, 255, 0.733);



$light-grey-A0: rgb(167, 167, 167);
$-grey-A0: grey;
$dark-grey-A0: rgba(128, 128, 128, 0.842);




$white-A0: white;