<h1>Wszystkie Wizyty</h1>
<div class="table">
  <div class="table__header">
    <div class="table__header--name">Nazwa wizyty</div>
    <div class="table__header--description">Opis wizyty</div>
    <div class="table__header--status">Status</div>
    <div class="table__header--animal-id">ID zwierzęcia</div>
    <div class="table__header--start-date">Czas rozpoczęcia wizyty</div>
    <div class="table__header--end-date">Czas zakończenia wizyty</div>
  </div>
  <div class="table__content">
    <div class="table__row" *ngFor="let detail of visits">
      <div class="table__row--cell-name">{{ detail.name }}</div>
      <div class="table__row--cell-description">{{ detail.description}}</div>
      <div class="table__row--cell-status">{{ detail.status }}</div>
      <div class="table__row--cell-animal-id">{{ detail.animal_id }}</div>
      <div class="table__row--cell-start-date">{{ detail.start_date }}</div>
      <div class="table__row--cell-edn-date">{{ detail.end_date }}</div>
<!--      <base-button (pointerClick)="onVisitEditClick(detail)"-->
<!--                   class="table__row&#45;&#45;cell-edit"-->
<!--                   kind="filled-shadow-white-blue"-->
<!--                   font="tiny"-->
<!--                   size="tiny"-->
<!--                   padding="tiny">-->
<!--        Edytuj wizytę-->
<!--      </base-button>-->
<!--      <base-button *ngIf="detail.id" (pointerClick)="onStartVisitClick(detail)"-->
<!--                   class="table__row&#45;&#45;cell-edit"-->
<!--                   kind="filled-shadow-white-blue"-->
<!--                   font="tiny"-->
<!--                   size="tiny"-->
<!--                   padding="tiny">-->
<!--        Zrealizuj wizytę-->
<!--      </base-button>-->
    </div>
  </div>
</div>



