<div class="table">
  <div class="table__header">
    <div class="table__header--id">Id</div>
    <div class="table__header--name">Nazwa</div>
    <div class="table__header--microchip">Numer mikrochipu</div>
    <div class="table__header--weight">Waga </div>
    <div class="table__header--age">Wiek</div>
    <div class="table__header--color">Kolor</div>
    <div class="table__header--gender">Płeć</div>
    <div class="table__header--type">Typ Zwierzęcia</div>
    <div class="table__header--breed">Rasa</div>
    <div class="table__header--owner">Właściciel</div>
    <div class="table__header--role"></div>
  </div>
  <div class="table__content">
    <div class="table__row">
      <div class="table__row--cell-name">{{ animal.id }}</div>
      <div class="table__row--cell-surname">{{ animal.name }}</div>
      <div class="table__row--cell-company">{{ animal.microchip_number}}</div>
      <div class="table__row--cell-nip">{{ animal.weight }}</div>
      <div class="table__row--cell-regon">{{ animal.age }}</div>
      <div class="table__row--cell-postal">{{ animal.color }}</div>
      <div class="table__row--cell-city">{{ animal.gender }}</div>
      <div class="table__row--cell-street">{{ animal.animal_type }}</div>
      <div class="table__row--cell-street">{{ animal.breed }}</div>
      <div class="table__row--cell-street">{{ animal.owner }}</div>
    </div>
  </div>
</div>
