<div class="container mt-5">
  <form (submit)="onSubmit()" class="needs-validation" novalidate>
    <div class="form-group">
      <label for="firstName">Imię</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="userEdit.firstName" name="firstName" placeholder="Imię" required>
    </div>
    <div class="form-group">
      <label for="lastName">Nazwisko</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="userEdit.lastName" name="lastName" placeholder="Nazwisko" required>
    </div>
    <div class="form-group">
      <label for="companyName">Nazwa firmy</label>
      <input type="text" class="form-control" id="companyName" [(ngModel)]="userEdit.companyName" name="companyName" placeholder="Nazwa firmy">
    </div>
    <div class="form-group">
      <label for="nip">NIP</label>
      <input type="number" class="form-control" id="nip" [(ngModel)]="userEdit.nip" name="nip" placeholder="NIP">
    </div>
    <div class="form-group">
      <label for="regon">Regon</label>
      <input type="number" class="form-control" id="regon" [(ngModel)]="userEdit.regon" name="regon" placeholder="Regon">
    </div>
    <div class="form-group">
      <label for="postalCode">Kod pocztowy</label>
      <input type="text" class="form-control" id="postalCode" [(ngModel)]="userEdit.postalCode" name="postalCode" placeholder="Kod pocztowy">
    </div>
    <div class="form-group">
      <label for="city">Miasto</label>
      <input type="text" class="form-control" id="city" [(ngModel)]="userEdit.city" name="city" placeholder="Miasto">
    </div>
    <div class="form-group">
      <label for="street">Ulica</label>
      <input type="text" class="form-control" id="street" [(ngModel)]="userEdit.street" name="street" placeholder="Ulica">
    </div>
    <div class="form-group">
      <label for="phone">Numer telefonu</label>
      <input type="number" class="form-control" id="phone" [(ngModel)]="userEdit.phone" name="phone" placeholder="Numer telefonu">
    </div>
    <div class="form-group">
      <label for="userId">ID</label>
      <input type="number" class="form-control" id="userId" [(ngModel)]="userEdit.userId" name="userId" placeholder="ID">
    </div>
    <button type="submit" class="btn btn-primary">Zapisz</button>
  </form>
</div>
