<div class="container mt-5">
  <h2>Dodaj nowego pupila</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Imie</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="animalEdit.name" name="name" placeholder="Podaj imię" required>
    </div>

    <div class="form-group">
      <label for="microchip_number">Numer mikrochipu</label>
      <input type="number" class="form-control" id="microchip_number" [(ngModel)]="animalEdit.microchip_number" name="microchip_number" placeholder="123456789012345">
    </div>

    <div class="form-group">
      <label for="weight">Waga</label>
      <input type="number" class="form-control" id="weight" [(ngModel)]="animalEdit.weight" name="weight" placeholder="Podaj wagę w kilogramach">
    </div>

    <div class="form-group">
      <label for="age">Wiek</label>
      <input type="number" class="form-control" id="age" [(ngModel)]="animalEdit.age" name="age" placeholder="Podaj wiek w latach">
    </div>

    <div class="form-group">
      <label for="color">Kolor</label>
      <input type="text" class="form-control" id="color" [(ngModel)]="animalEdit.color" name="color" placeholder="Podaj kolor pupila">
    </div>

    <div class="form-group">
      <label for="gender">Płeć</label>
      <select class="form-control" id="gender" [(ngModel)]="animalEdit.gender" name="gender">
        <option value="none">Nieokreślona</option>
        <option value="male">Samiec</option>
        <option value="female">Samica</option>
      </select>
    </div>

    <div class="form-group">
      <label for="animal_type_id">Typ zwierzęcia</label>
      <select class="form-control" id="animal_type_id" [(ngModel)]="animalEdit.animal_type_id" name="animal_type_id">
        <option value="" disabled selected>Wybierz typ zwierzęcia</option>
        <option *ngFor="let type of animalTypes" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="breed_id">Rasa zwierzęcia</label>
      <select class="form-control" id="breed_id" [(ngModel)]="animalEdit.breed_id" name="breed_id">
        <option value="" disabled selected>Wybierz rasę zwierzęcia</option>
        <option *ngFor="let breed of animalBreeds" [value]="breed.id">{{ breed.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="owner_id">ID Właściciela</label>
      <input type="number" class="form-control" id="owner_id" [(ngModel)]="animalEdit.owner_id" name="owner_id" placeholder="Podaj indywidualny numer ID właściciela">
    </div>

    <button type="submit" class="btn btn-primary">Dodaj zwierzę</button>
  </form>
</div>
