<!--<div class="container mt-4">-->
<!--  <table class="table table-hover">-->
<!--    <thead class="bg-primary text-white">-->
<!--    <tr>-->
<!--      <th>ID</th>-->
<!--      <th>Imię</th>-->
<!--      <th>Nazwisko</th>-->
<!--      <th>Nazwa firmy</th>-->
<!--      <th>NIP</th>-->
<!--      <th>REGON</th>-->
<!--      <th>Kod pocztowy</th>-->
<!--      <th>Miasto</th>-->
<!--      <th>Ulica</th>-->
<!--      <th>Telefon</th>-->
<!--      <th>Użytkownik</th>-->
<!--      <th>Email użytkownika</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--      <td>{{ owner.id }}</td>-->
<!--      <td>{{ owner.first_name }}</td>-->
<!--      <td>{{ owner.last_name }}</td>-->
<!--      <td>{{ owner.company_name }}</td>-->
<!--      <td>{{ owner.nip }}</td>-->
<!--      <td>{{ owner.regon }}</td>-->
<!--      <td>{{ owner.postal_code }}</td>-->
<!--      <td>{{ owner.city }}</td>-->
<!--      <td>{{ owner.street }}</td>-->
<!--      <td>{{ owner.phone }}</td>-->
<!--      <td>{{ owner.user.name }}</td>-->
<!--      <td>{{ owner.user.email }}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
