<form (ngSubmit)="login()" class="login-form">
    <label for="username" class="login-form__label">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" class="login-form__input" required>
    <br>
    <label for="password" class="login-form__label">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" class="login-form__input" required>
    <br>
    <button type="submit" class="login-form__button">Login</button>
  </form>
